*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: var(--background-color-app); /* Using variable for background color */
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color-default); /* Using variable for text color */
  font-weight: 600;
}
